<h1>Application </h1>


<%= @application.name  %> <br><br>

<%= "#{@application.street_adress}"  %><br>
<%= "#{@application.city}, #{@application.state}"  %><br>
<%= "#{@application.zip_code} "  %><br>
<br>
<br>

why i would make a good pet owner:
<br>
<%= "#{@application.pitch}"  %><br><br>

<%= "List of pets"  %><br><br>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<br>
<%  end  %>


<br>
<br>


<% if @application.progress == "in progress"  %>
  Add a pet to this page
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :add_pet %>
    <%= f.text_field :add_pet %>
    <%= f.submit "Search" %>
  <% end %>
<% end %>


<br>
<% @pets.each do |pet| %>
  <%= pet.name %>
  <%= button_to "Adopt this Pet", "/application_pets/applications/#{@application.id}/pets/#{pet.id}", method: :post%>
  <br>
<% end %>



<% unless @application.pets.empty?  %>
  submit you application:

  <%= form_with url: "/applications/#{@application.id}", method: :put, local: true do |f| %>
    <%= f.label :why_I_would_make_a_good_owner_for_these_pets %>
    <%= f.text_field :pitch %>
    <%= f.submit "submit" %>
  <% end %>

<% end %>


<br>
<br>
your application is
<%= "#{@application.progress}"  %>

<br>
