<h1>Application </h1>


<%= @application.name  %> <br><br>

<%= "#{@application.street_adress}"  %><br>
<%= "#{@application.city}, #{@application.state}"  %><br>
<%= "#{@application.zip_code} "  %><br>
<br>
<br>
<%= "#{@application.pitch}"  %><br><br>

<%= "List of pets"  %><br><br>
<% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<br>
<%  end  %>


<br>
<br>
<%= "#{@application.progress}"  %>

<br>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :add_pet %>
  <%= f.text_field :add_pet %>
  <%= f.submit "Search" %>
<% end %>


<br>
<% @pets.each do |pet| %>
  <%= pet.name %><br>
<% end %>
